:root {
    /* Couleurs principales Raiden */
    --primary-violet: #6f1f8e; /* Violet intense (de la robe) */
    --primary-blue: #3a0ca3; /* Bleu foncé (élément électro) */
    --primary-pink: #a04bb4; /* Rose lumineux (ses accessoires) */

    /* Couleurs complémentaires */
    --complementary-yellow: #f7d860; /* Jaune pâle (complément du violet) */
    --complementary-gold: #ffbe0b; /* Or (complément du bleu) */
    --complementary-orange: #fca311; /* Orange (complément du rose) */

    /* Couleurs neutres */
    --bg-black: #1f1f1f; /* Noir pour le contraste */
    --bg-white: #f5f5f5; /* Blanc pour le fond */

    /* Tailles des titres */
    --h1-size: 4rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    color: var(--bg-black);
}

/* Mode sombre */
.dark-mode {
    background-color: #1A0538;
    color: var(--bg-white);
}

/* Navbar Mode sombre*/
.dark-mode nav {
    background-color: #1A0538;
    border-bottom: #fff 1px solid;
}

/* Liens du menu mode sombre */
.dark-mode nav ul li a {
    color: var(--bg-white);
}

/* Effet de texte mode sombre*/
.dark-mode .typed-text {
    color: #8a6df1;
}

/* Bouton Dark Mode */
.dark-mode #dark-mode-toggle {
    background-color: #8a6df1;
}

/*Navbar mode light*/
nav {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    z-index: 1;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 100%;
}

/*Liens navbar light*/
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 2rem;
}

nav ul li a:hover {
    background-color: #f5f5f5;
    color: #000000
}

/*Hamburger light*/
.hamburger {
    display: none;
    cursor: pointer;
}

/*hamburger mode dark*/
.dark-mode .hamburger .line {
    background-color: #fff
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #000000;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

/*Animation lines*/
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

/*Menubar visible en mobile*/
.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}


/* Section À propos et autres dans le mode sombre */
.dark-mode .skills-section,
.dark-mode .projects, .dark-mode .competences,
.dark-mode .contact-section {
    background-color: #2a2a40;
}

/* Projets dans le mode sombre */
.dark-mode .project-card {
    background-image: url("../assets/img/horreur.jpg");
    background-size: cover;
    min-width: 400px;
    min-height: 300px;
    background-position: center;
    background-color: var(--bg-black);
    transition: 1s;
}

.btn-projet {
    background-color: #8a6df1;
    color: var(--bg-white);
    border-radius: 10%;
    padding: 10px;
}

.project-card h3, .project-card p, .btn-projet {
    color: var(--bg-white);
    display: none
}


.project-card:hover {
    transition: 0.5s ease-in-out;
    color: var(--bg-white);

    scale: 1.2;
}


.project-card:hover p, .project-card:hover h3, .project-card:hover .btn-projet {
    display: block
}


/* Bouton télécharger CV dans le mode sombre */
.dark-mode .download-cv {
    background-color: #8a6df1;
}


/* Bouton Light Mode */
#dark-mode-toggle {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 200px;
    right: 20px;
}

#dark-mode-toggle svg:last-child {
    display: none;
}

.dark-mode #dark-mode-toggle svg:first-child {
    display: none;
}

.dark-mode #dark-mode-toggle svg:last-child {
    display: block;
}

#dark-mode-toggle:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

#dark-mode-toggle:last-child {
    display: none
}

/* Section MOI */
.hero-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    color: #5d3fd3;
    margin: 5rem 0 0 0;
}

.hero-section p {
    margin: 0;
}

.typed-text {
    font-size: 1.5rem;
    color: #c993ff;
}

/* Effets sur ma photo */
.hero-image {
    margin-top: 2rem;
    border-radius: 100%;
    width: 100%;
}

.lightning-border {
    width: 300px;
    /*height: 300px;*/
    position: relative;
    border-radius: 100%;
}

.lightning-border::before,
.lightning-border::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: linear-gradient(
            45deg,
            #ff0000,
            #00f0f0,
            #00ff00,
            #0000ff,
            #ff0000,
            #00f0f0,
            #00ff00,
            #0000ff,
            #f00f0f
    );
    width: 300px;
    height: 385px;
    transform: scale(1.02);
    z-index: -1;
    background-size: 500%;
    animation: animate 20s infinite;
    border-radius: 100%;
}

.lightning-border::after {
    filter: blur(20px);
}

/* Animation */
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.about-section,
.contact-section,
.skills-section,
.projects-section {
    padding: 4rem 2rem;
    text-align: center;
}


.projects h2 {
    font-size: 5rem;
    color: #5d3fd3;
    text-align: center;
}

/*  */
.project-grid {
    display: flex;
    justify-content: space-around;
}

.project-card {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    width: 200px;
}

/* Bouton CV (Section contact à refaire) */
.download-cv {
    background-color: #c993ff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*Médiaaaas */
@media screen and (max-width: 790px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }
}