@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /* Couleurs principales Raiden */
    --primary-violet: #6f1f8e; /* Violet intense (de la robe) */
    --primary-blue: #3a0ca3; /* Bleu foncé (élément électro) */
    --primary-pink: #a04bb4; /* Rose lumineux (ses accessoires) */

    /* Couleurs complémentaires */
    --complementary-yellow: #f7d860; /* Jaune pâle (complément du violet) */
    --complementary-gold: #ffbe0b; /* Or (complément du bleu) */
    --complementary-orange: #fca311; /* Orange (complément du rose) */

    /* Couleurs neutres */
    --bg-black: #1f1f1f; /* Noir pour le contraste */
    --bg-white: #f5f5f5; /* Blanc pour le fond */

    /* Tailles des titres */
    --h1-size: 4rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);
    color: var(--bg-black);
    overflow-x: hidden;
}

/* Mode sombre */
.dark-mode {
    background-color: #1A0538;
    color: var(--bg-white);
}

/* Navbar Mode sombre*/
.dark-mode nav {
    background-color: #1A0538;
    border-bottom: #fff 1px solid;
}

/* Liens du menu mode sombre */
.dark-mode nav ul li a {
    color: var(--bg-white);
}

/* Effet de texte mode sombre*/
.dark-mode .typed-text {
    color: #8a6df1;
}

/* Bouton Dark Mode */
.dark-mode #dark-mode-toggle {
    background-color: #8a6df1;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

/*Navbar mode light*/
nav {
    position: sticky;
    top: 0;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    z-index: 1;
    background-color: var(--bg-white);
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 100%;
}

/*Liens navbar light*/
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 2rem;
}

nav ul li a:hover {
    background-color: #f5f5f5;
    color: #000000
}

/*Hamburger light*/
.hamburger {
    display: none;
    cursor: pointer;
}

/*hamburger mode dark*/
.dark-mode .hamburger .line {
    background-color: #fff
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #000000;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

/*Animation lines*/
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

/*Menubar visible en mobile*/
.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}

.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

/*Fin NAVBAR Fin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBAR*/


/* Bouton Light Mode */
#dark-mode-toggle {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 200px;
    right: 20px;
    z-index: 100;
}

#dark-mode-toggle svg:last-child {
    display: none;
}

.dark-mode #dark-mode-toggle svg:first-child {
    display: none;
}

.dark-mode #dark-mode-toggle svg:last-child {
    display: block;
}

#dark-mode-toggle:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

#dark-mode-toggle:last-child {
    display: none
}

/* Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI */
.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.hero-text {
    width: 50%;
}

.hero-text .typed-text {

    font-size: 2rem;
    color: #ffffff;
}

.hero-section h1 {
    font-family: "Anton", serif;
    font-size: 10rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    text-align: left;
    letter-spacing: 5px;
}

.hero-section p {
    margin: 0;
    font-size: 2rem;
    text-align: left;
    color: var(--bg-white);
}


.button-hero {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: auto;
}

.button-hero button {
    min-width: 267px;
    min-height: 100px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: #59228f solid 1px;
    max-width: 100%;
}

.color-2d1b38 {
    background-color: #2b1b38;
    color: #fff;
}

.color-f04bff {
    background-color: #f04bff;
    color: #fff;
}

.color-2d1b38:hover {
    background-color: #fff;
    color: #2b1b38;
}

.color-f04bff:hover {
    background-color: #fff;
    color: #f04bff;
}

.hero-photo {
    width: 30%;
}

.hero-photo img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/*Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos*/
.apropos h2 {
    font-family: "Anton", serif;
    font-size: 10rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffffff;
    margin: 200px 0 0;
    text-align: center;
    letter-spacing: 5px;
}

.apropos .center-div {
    display: flex;
    justify-content: center;
    align-items: center;

}

.apropos-texte {
    font-size: 2rem;
    background-color: #311757;
    padding: 30px;
    margin: 30px;
    color: #fff;
    width: 70%;
    text-align: center;
}

.apropos-texte p {
    width: 100%
}


.apropos-texte a {
    color: #ee4bfd;
    transition: 0.5s ease-in-out;
}

.apropos-texte a:hover {
    color: #B80000;
}

.button-apropos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: auto;
}

.button-apropos button {
    min-width: 307px;
    min-height: 100px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: #59228f solid 1px;
    max-width: 100%;
}

/*Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider Divider*/
.divider {
    display: block !important;
}

#ring {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    float: left;
}

.parallax1 > use {
    animation: move-forever1 10s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax2 > use {
    animation: move-forever2 8s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax3 > use {
    animation: move-forever3 6s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

.parallax4 > use {
    animation: move-forever4 4s linear infinite;

    &:nth-child(1) {
        animation-delay: -2s;
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}


/*Section skillsSection skillsSection skillsSection skillsSection skillsSection skillsSection skillsSection skillsSection skills*/
.skills h2 {
    font-family: "Anton", serif;
    font-size: 10rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #ffffff;
    margin: 200px 0 0;
    text-align: center;
    letter-spacing: 5px;
}

.skills .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.center-div .grid {
    background: #311757;
    margin: 30px;
    padding: 50px;
    border-radius: 10%;
    max-width: 500px;
}

.grid img {
    width: 100%;
    height: auto;
}


/*MédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaas */
@media (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero-text {
        width: 80%
    }

    .hero-text h1 {
        font-size: 3rem
    }

    .hero-text p {
        font-size: 1.5rem
    }

    .hero-section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

}

@media (max-width: 576px) {
    .hero-photo {
        margin-top: 30px;
    }

    .hero-text .typed-text {
        font-size: 1.3rem;
        color: #ffffff;
    }

    .button-hero button {
        max-width: 150px;
        min-height: auto;
        padding: 20px 40px;
        border-radius: 10px;
        font-size: 1.4rem;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: #59228f solid 1px;
        width: 100%;
    }

    .apropos h2 {
        font-size: 5rem
    }

    .button-apropos button {
        min-width: 150px;
        min-height: auto;
        padding: 20px 40px;
        border-radius: 10px;
        font-size: 1rem;
        margin: auto;
        margin-top: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        border: #59228f solid 1px;
        width: 100%;
    }

    .apropos-texte {
        font-size: 1.5rem;
        background-color: #311757;
        padding: 30px;
        margin: 30px;
        color: #fff;
        width: 70%;
        text-align: center;
    }

    .skills h2 {
        font-size: 5rem;
    }

    @media (max-width: 320px) {
        .hero-text .typed-text {
            font-size: 1rem;
            color: #ffffff;
        }

        .apropos-texte {
            font-size: 1rem;
            background-color: #311757;
            padding: 30px;
            margin: 30px;
            color: #fff;
            width: 70%;
            text-align: center;
        }

        .apropos h2 {
            font-size: 3rem
        }

        .skills h2 {
            font-size: 3rem;
        }
    }
}





