@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    /*Couleurs main*/
    --text: #ffffff;
    --text-complement: #000000;

    --bg: #210d41;
    --bg-complemebt: #FFD6C7;
    --backgroundLight: #3b383f;
    --backgroundDark: #311757;
    --bg2: #6404e3;
    --bg2-complement: #E3D104;

    --primary: #F04BFF;
    --primary-complement: #4BFF4B;

    --secondary: #2D1B38;
    --secondary-complement: #B8E4A6;

    --accent: #63F836;
    --accent-complement: #3625F8;
    /* Couleurs neutres */
    --bg-black: #1f1f1f;
    --bg-white: #f5f5f5;

    /*Complementaires Light:*/

    /* Tailles des titres */
    --h1-size: 4rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3bbf8;
    color: var(--bg-black);
    overflow-x: hidden;
}

/* Mode sombre */
.dark-mode {
    background-color: var(--bg);
    color: var(--bg-white);
}

/* Navbar Mode sombre*/
.dark-mode nav {
    background-color: var(--bg);
    border-bottom: #fff 1px solid;
}

/* Liens du menu mode sombre */
.dark-mode nav ul li a {
    color: var(--bg-white);
}


/* Bouton Dark Mode */
.dark-mode #dark-mode-toggle {
    background-color: var(--primary);
}

.dark-mode .border-h2 {
    color: var(--bg);
    -webkit-text-stroke: var(--bg-white);
    -webkit-text-stroke-width: 3px;
}

.dark-mode .div-projet {
    font-size: 1.5rem;
    background-color: #311757;
    padding: 30px;
    margin: 30px;
    color: var(--bg-white);
    text-align: center;
    border-radius: 30px;
    max-width: 80%;
    display: flex;
}

/*Navbar mode light*/
nav {
    position: sticky;
    top: 0;
    padding: 5px 5%;
    width: 100%;
    max-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    z-index: 10;
    background-color: var(--bg-white);
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    border-radius: 100%;
}

/*Liens navbar light*/
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: auto 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--bg-black);
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: #f5f5f5;
    color: var(--accent-complement);
}

/*Hamburger light*/
.hamburger {
    display: none;
    cursor: pointer;
}

/*hamburger mode dark*/
.dark-mode .hamburger .line {
    background-color: var(--bg-white);
}

.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: var(--text-complement);
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

/*Animation lines DU BURGER*/
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
    width: 0;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}

/*Menubar visible en mobile*/
.dark-mode .menubar {
    background: rgb(35, 21, 60);
}

.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}

.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.menubar ul {
    padding: 0;
    list-style: none;
}

.menubar ul li {
    margin-bottom: 32px;
}

.dark-mode .menubar ul li a {
    text-decoration: none;
    color: var(--bg-white);
}

.menubar ul li a {
    text-decoration: none;
    color: var(--text-complement);
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}

/*Fin NAVBAR Fin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBARFin NAVBAR*/


/* Bouton Light Mode/dark mode */
#dark-mode-toggle {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg2-complement);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 200px;
    right: 20px;
    z-index: 100;
}

#dark-mode-toggle svg:last-child {
    display: none;
}

.dark-mode #dark-mode-toggle svg:first-child {
    display: none;
}

.dark-mode #dark-mode-toggle svg:last-child {
    display: block;
}

#dark-mode-toggle:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    cursor: pointer;
}

#dark-mode-toggle:last-child {
    display: none
}

/* Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI Section MOI */
.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.hero-text {
    width: 50%;
    margin-top: 30px;
}

/*typed text js*/
.hero-text .typed-text {

    font-size: 2rem;
    color: var(--bg-white);

}

.hero-section h1 {
    font-family: "Anton", serif;
    font-size: 6rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--bg-white);
    margin: 0;
    text-align: left;
    letter-spacing: 5px;
}

.dark-mode .hero-section p {
    color: var(--bg-white);

}

.hero-section p {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 300;
    color: #ffffff;
    background-color: rgba(50, 50, 93, 0.25);
    backdrop-filter: blur(2px);
    padding: 10px;
    margin-top: 40px;
}

/*display bouton*/
.button-hero {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    gap: 10px;
}

/*style du bouton*/
.button-hero button {
    font-size: 2vh;
    min-width: 150px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: #59228f solid 1px;
    border-radius: 5px;
}

.color-2d1b38 {
    background-color: var(--secondary);
    color: #fff;
}

.color-f04bff {
    background-color: var(--primary);
    color: var(--bg-white);
}

.color-2d1b38:hover {
    background-color: var(--bg-white);
    color: var(--secondary);
}

.color-f04bff:hover {
    background-color: var(--bg-white);
    color: var(--primary);
}

/*div photo/img*/
.hero-photo {
    width: 25%;
    margin-top: 30px;
}

.hero-photo img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/*Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos Section à propos*/


/*display section à propos*/
.apropos .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode .apropos-texte {
    background-color: #311757;
}

/*style texte/bouton*/
.apropos-texte {
    font-size: 1.5rem;
    font-weight: 300;
    background-color: #3b383f;
    padding: 30px;
    margin: 30px;
    color: var(--bg-white);
    width: 70%;
    text-align: center;
    border-radius: 30px;
}

.apropos-texte p {
    width: 100%
}


.apropos-texte a {
    color: var(--primary);
    transition: 0.5s ease-in-out;
}

.apropos-texte a:hover {
    color: #B80000;
}

.button-apropos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: auto;
    gap: 10px;
}

.button-apropos button {
    font-size: 2vh;
    min-width: 150px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: #59228f solid 1px;
    border-radius: 5px;
}


/*Section skillsSection skillsSection skillsSection skillsSection skillsSection skillsSection skillsSection skillsSection skills*/


/*Grid+Centre+3 col */


.skills .center-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    padding: 10px 0;
}

/*style du grid/de la div*/
.dark-mode .center-div .grid {
    background: var(--bg);
}

.center-div .grid {
    background-color: var(--backgroundLight);
    margin-top: 70px;
    padding: 30px;
    border-radius: 10%;
    max-width: 70%;
}

.grid img {
    width: 100%;
    height: auto;
}

/*partie card animated*/
.card {
    margin: 0 auto;
    padding: 2em;
    width: 100%;
    background: #1c1f2b;
    text-align: center;
    position: relative;

}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent, #fd7716, #fd4b00);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    animation: 3s spin linear infinite;
    border-radius: 40px;
}

/*changement couleur animation pour chaque card*/
.css::after, .css::before {
    background-image: conic-gradient(from var(--angle), transparent, #2195f2, #126cb4);
}

.git::after, .git::before {
    background-image: conic-gradient(from var(--angle), transparent, #ff940f, #f2511e);
}

.bootstrap::after, .bootstrap::before {
    background-image: conic-gradient(from var(--angle), transparent, #6d10ef, #41019f);
}

.tailwind::after, .tailwind::before {
    background-image: conic-gradient(from var(--angle), transparent, #048ba2, #0595ae);
}

.photoshop::after, .photoshop::before {
    background-image: conic-gradient(from var(--angle), transparent, #001833, #2eaafd);
}

.php::after, .php::before {
    background-image: conic-gradient(from var(--angle), transparent, #889ad2, #7789c7);
}

.javascript::after, .javascript::before {
    background-image: conic-gradient(from var(--angle), transparent, #fada3d, #d5ba32);
}

.construction::after, .construction::before {
    background-image: conic-gradient(from var(--angle), transparent, #ffffff, #000000);
}

/* Supprime les débordements de l'anim SI il y en avait*/
.skills .center-div {
    overflow: hidden;

}


.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;

}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

/*Projets Projets Projets Projets Projets Projets Projets Projets Projets Projets Projets Projets Projets Projets Projets*/

.border-h2 {
    color: var(--bg-white);
    -webkit-text-stroke: var(--bg);
    -webkit-text-stroke-width: 3px;
    font-family: "Anton", serif;
    font-size: 10vh;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.contact .border-h2 {
    font-size: 7vh;
}

/*display section projet*/
.projets .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*style texte/bouton*/


.div-projet {
    font-size: 1.5rem;
    background-color: #3b383f;
    padding: 30px;
    margin: 30px;
    color: #ffffff;
    text-align: center;
    border-radius: 30px;
    max-width: 80%;
    display: flex;
}

.projet-img {
    text-align: center;
    margin: auto;
}

.div-projet img {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.projet-texte {
    max-width: 50%;
    text-align: left;
    font-size: 1rem;
    margin: 10px;
}

.projet-texte p {
    margin: 3px;
    color: #bdbaba;
}

.technologie {
    display: flex;
    align-items: center;
    margin: 3px;
}

.technologie i {
    margin: 5px 0 0 10px;
}

.bouton-projet a {
    text-decoration: none;
}

.bouton-projet button {
    color: var(--accent);
    background-color: transparent;
    padding: 20px;
    min-width: 150px;
    border-radius: 50px;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.bouton-projet button:hover {
    color: var(--bg);
    background-color: var(--bg-white);
}

.bouton-projet .live {
    color: var(--bg);
    background-color: var(--accent);
    padding: 20px;
    min-width: 150px;
    border-radius: 50px;
    margin: 10px;
}

.bouton-projet .live:hover {
    color: var(--accent);
    background-color: var(--bg);
    padding: 20px;
    min-width: 150px;
    border-radius: 50px;
    margin: 10px;
}

.fa-html5 {
    color: #f06529;
}

.fa-css3 {
    color: #2965f1;
}

.fa-bootstrap {
    color: #563d7c;
}

/*Section Contact Section Contact Section Contact Section Contact Section Contact Section Contact Section Contact*/
.dark-mode .cardContact {
    background-color: var(--backgroundDark);
}

.cardContact {
    min-width: fit-content;
    background-color: var(--backgroundLight);
    border-radius: 15px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.dark-mode .socialContainer {
    background-color: rgb(44, 44, 44);
    color: white;
}

.socialContainer {
    width: 100px;
    height: 100px;
    background-color: rgb(213, 181, 217);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
    transform: scale(1.4);
    border-radius: 15px;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
    transform: scale(1.4);
    border-radius: 15px;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
    transform: scale(1.4);
    border-radius: 15px;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #25d366;
    transition-duration: 0.3s;
    transform: scale(1.4);
    border-radius: 15px;
}

.containerFive:hover {
    background-color: #25d366;
    transition-duration: 0.3s;
    transform: scale(1.4);
    border-radius: 15px;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dark-mode .retournerEnHaut {
    color: var(--bg-white);
}

.retournerEnHaut {
    text-decoration: none;
    color: #000000;
    border: var(--backgroundLight) solid 2px;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-bottom: 50px;
}

.retournerEnHaut:hover {
    color: red;
    transform: scale(1.2);
}

.retournerEnHaut:active {
    color: var(--primary);
    transform: scale(1.2);
}


/*MédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaasMédiaaaas */
/*Laptop/tablette*/
@media (max-width: 1024px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
    }


    .div-projet {
        flex-direction: column;
    }

    .hero-text {
        width: 80%
    }

    .hero-photo {
        position: absolute !important;
        bottom: 15%;
        right: 20%;
    }

    .button-hero {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }


    .hero-text h1 {
        font-size: 3rem
    }

    .hero-text p {
        font-size: 1.5rem
    }

    .hero-section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .projets .center-div {
        flex-direction: column;
        align-items: center;
    }

    .div-projet {
        flex-direction: column;
        max-width: 90%;
        padding: 20px;
        margin: 15px;
    }

    .dark-mode .div-projet {
        flex-direction: column;
        max-width: 90%;
        padding: 20px;
        margin: 15px;
    }

    .projet-texte {
        max-width: 100%;
        text-align: justify-all;
        line-height: 1.3;
        font-size: 1rem;
        margin: 20px 0 20px;
    }

    .div-projet img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 15px auto;
    }

    .technologie {
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin: 20px 0 20px;
    }

    .bouton-projet button, .bouton-projet .live {
        min-width: 120px;
        padding: 15px;
        margin: 5px;
    }

    .apropos-texte {
        width: 90%;
        text-align: left;
        line-height: 1.3;
        font-size: 1rem;
        margin: 20px 0;
    }

    .contact .cardContact {
        flex-wrap: wrap;
        max-width: 90%;
        min-width: auto;
    }

}

/*tablette*/
@media (max-width: 768px) {
    .skills .center-div {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

}

/*mobile*/
@media (max-width: 576px) {
    .hero-text .typed-text {
        font-size: 1.3rem;
        color: #ffffff;
    }

    .hero-photo img {
        width: 100%;
        height: auto;
        max-width: 200px;
    }

    .hero-text {
        min-height: 250px;
    }

    .hero-text .typed-text {
        font-size: 1rem;
        color: #ffffff;
    }

    #vantajs {
        background-color: #2d1b38; /* Couleur de fond avant Vanta */
    }

    .hero-photo {
        position: absolute !important;
        bottom: 10%;
        right: 10%;
    }

}








